<%= form_for(@ayudante) do |f| %>
  <% if @ayudante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ayudante.errors.count, "error") %> prohibited this ayudante from being saved:</h2>

      <ul>
      <% @ayudante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 
  <div class="field">
    <%= f.label :carrera %><br>
    <%= f.text_field :carrera %>
  </div>
  
  <div class="actions">
    <%= f.submit'Guardar',class:"btn btn-success btn-sm  btn-lg active" %>
  </div>




<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <%= f.label :nombre %><br>
          <%= f.text_field :nombre %>
        </div>

        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <%= f.label :apellido %><br>
          <%= f.text_field :apellido %>
        </div>
      </div>
    </form>
  </div>

   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <%= f.label :rut %>
          <%= f.number_field :rut %>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">markunread_mailbox</i>
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </div>
      </div>
    </form>
  </div>


  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">business</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Carrera</label>
        </div>


    </form>
  </div>

<div class="control-group">
    <%= f.label "Asignatura", class: 'control-label' %>
    <div class="controls">
      <%= f.select(:asignatura, options_for_select([['Algebra I', 'Algebra I'], ['Calculo I', 'Calculo I'],['Química General', 'Química General']]), { prompt: 'Seleccione una opción' }) %>
</div>
</div>



<% end %>


